/.vscode/launch.json
/.vscode/tasks.json
/bin/Debug/net7.0/RemoveEmptyProp.deps.json
/bin/Debug/net7.0/RemoveEmptyProp.dll
/bin/Debug/net7.0/RemoveEmptyProp.exe
/bin/Debug/net7.0/RemoveEmptyProp.pdb
/bin/Debug/net7.0/RemoveEmptyProp.runtimeconfig.json
/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/obj/Debug/net7.0/RemoveEmptyProp.AssemblyInfo.cs
/obj/Debug/net7.0/RemoveEmptyProp.AssemblyInfoInputs.cache
/obj/Debug/net7.0/RemoveEmptyProp.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/RemoveEmptyProp.GlobalUsings.g.cs
/obj/Debug/net7.0/RemoveEmptyProp.assets.cache
/obj/Debug/net7.0/RemoveEmptyProp.csproj.AssemblyReference.cache
/obj/Debug/net7.0/RemoveEmptyProp.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/RemoveEmptyProp.csproj.FileListAbsolute.txt
/obj/Debug/net7.0/RemoveEmptyProp.dll
/obj/Debug/net7.0/RemoveEmptyProp.genruntimeconfig.cache
/obj/Debug/net7.0/RemoveEmptyProp.pdb
/obj/Debug/net7.0/apphost.exe
/obj/Debug/net7.0/ref/RemoveEmptyProp.dll
/obj/Debug/net7.0/refint/RemoveEmptyProp.dll
/obj/RemoveEmptyProp.csproj.nuget.dgspec.json
/obj/RemoveEmptyProp.csproj.nuget.g.props
/obj/RemoveEmptyProp.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
